const newMatches = <%= current_user.new_matches %>;
const oldMatches = parseInt($('#new-matches').html());

if (newMatches > 0 && oldMatches != newMatches) {
  $("#new-matches-box").html("<%= j render partial: 'layouts/new_matches' %>");
  $('title').html('DuoQ (' + newMatches + ')')
} else if (newMatches == 0 && oldMatches != newMatches) {
  $("#new-matches-box").html("");
  $('title').html('DuoQ');
}

notificationPoll();