<div class="float-l p-relative width-100">
  <%= image_tag user.photo, class: 'display-picture'  %>
  <%= image_tag user.badge, id: 'elo-badge' if user.lol_tier %>
</div>

<div id="candidate-info" class="flex-container">
  <div class="flex-2" id="candidate-data">

    <p>
      <strong>
        <%= user.elo %>
      </strong>
    </p>

    <% if user.lol_main %>
      <p>
        <%= user.lol_main %> main
      </p>
    <% end %>
    
    <p>
      <%= user.region %>
    </p>

  </div>

  <div class="flex-3" id="candidate-bio">
    <p>
      <%= user.bio %>
    </p>
  </div>
</div>
