<div id="profile-edit-page">
  <div id="form-errors"></div>

  <%= form_with scope: @user, url: profile_path, local: true do |f| %>

    <p>
      <%= f.label :image, 'Choose your profile picture:' %>
    </p>
    <%= f.file_field :image %>

    <p>
      <%= image_tag(current_user.photo, id: 'edit-picture') %>
    </p>

    <p>
      <%= f.label :bio, "Tell us more about you:", id: "bio-label" %>
    </p>

    <div id="bio-area">
      <%=
        f.text_area :bio,
        rows: 10, cols: 30,
        id: "bio-input",
        maxlength: 140
      %>
      <p id="char-num">
      </p>
    </div>


    <%= f.submit 'Save', class: 'btn' %>

  <% end %>
</div>
