<% if @candidate %>

  <%= render partial: 'users/user', locals: {user: @candidate} %>

  <div class="flex-container" id="controls">

    <div class="like-btn">
      <%= form_with url: dislike_path, local: true do |f| %>
        <%= f.hidden_field :id, value: @candidate.id %>
        <%= f.submit :type => :image, :src => image_path("icons/dislike.png") %>
      <% end %>
    </div>

    <div class="like-btn">
      <%= form_with url: like_path, local: true do |f| %>
        <%= f.hidden_field :id, value: @candidate.id %>
        <%= f.submit :type => :image, :src => image_path("icons/like.png") %>
      <% end %>
    </div>
  </div>

<% else %>
  <div class="page-filler">
    <p>
      There is nobody else left right now, check back later!
    </p>
  </div>
<% end %>
