<p>
  <%= link_to user_facebook_omniauth_authorize_path, id: 'facebook-login' do %>
    <%= image_tag 'facebook.png' %>
    <span>Log in with Facebook</span>
  <% end %>
</p>

<div class="faded">
  <p class="small-text">
    or<br>
    <%= link_to "Sign up", new_user_registration_path %>
    /
    <%= link_to "Log in", new_user_session_path %>
    with e-mail
  </p>
</div>

<div id="CTA">
  <p>It's like Tinder for League of Legends</p>
  <div id="sample-box">
    <% @users.each do |user| %>
      <div class="user-sample">
        <%=
          image_tag user.photo,
          class: 'sample-photo'
        %>
        <%=
          image_tag user.badge,
          class: 'sample-badge' if user.lol_tier
        %>
      </div>
    <% end %>
  </div>
</div>

<p class="padding-1 text-justify">
  <small>
    DuoQ isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
  </small>
</p>
