<div id="hub-page">

  <div id="my-profile">
    <%= link_to my_profile_path do %>
      <%= image_tag(current_user.photo, class: 'hub-picture rounded') %>
    <% end %>
    <br>
    <%= link_to my_profile_path, id: 'my-name' do %>
      <h2 class="name"><%= current_user.name %></h2>
    <% end %>
  </div>

  <div class="flex-container">
    <div class="hub-box">
      <%= link_to settings_path do %>
        <%= image_tag 'icons/settings.png' %>
        <p>Settings</p>
      <% end %>
    </div>
    <div class="hub-box">
      <%= link_to profile_path do %>
        <%= image_tag 'icons/edit.png' %>
        <p>Edit Profile</p>
      <% end %>
    </div>
  </div>

</div>
