<div id="gender-page">

  <h2>I am:</h2>

  <div>
    <%= form_with model: current_user, url: gender_path, local: true do |f| %>
      <%= f.hidden_field :gender, value: 'male' %>
      <%= f.submit 'Male', class: 'btn' %>
    <% end %>
  </div>

  <div>
    <%= form_with model: current_user, url: gender_path, local: true do |f| %>
      <%= f.hidden_field :gender, value: 'female' %>
      <%= f.submit 'Female', class: 'btn' %>
    <% end %>
  </div>

</div>
