<div id="settings-page">
  <%= form_with model: current_user, url: settings_path, local: true do |f| %>
    <% unless current_user.gender %>
      <h3>I am:</h3>
      <p>
        <%= f.label 'gender_male', 'Male' %>
        <%= f.radio_button :gender, 'male'%>
      </p>
      <p>
        <%= f.label 'gender_female', 'Female' %>
        <%= f.radio_button :gender, 'female'%>
      </p>

      <hr>
    <% end %>

    <h2>Sync Settings</h2>
    <div id="sync-settings">
      <p>
        <strong>LoL Name:</strong> <%= current_user.lol_name || 'None' %> <%= link_to '(Change)', sync_path %>
      </p>
      <p>
        <strong>Server:</strong> <%= current_user.region || 'None' %>
      </p>
      <p>
        <strong>Elo:</strong> <%= current_user.elo %> <%= link_to '(Refresh Elo)', refresh_sync_path %>
      </p>
    </div>

    <hr>

    <h2>Filter Settings</h2>
    <div id="filter-settings">

      <h3>Show me:</h3>
      <p>
        <%= f.radio_button :gender_pref, 'male'%>
        <%= f.label 'gender_pref_male', 'Male' %>
      </p>
      <p>
        <%= f.radio_button :gender_pref, 'female'%>
        <%= f.label 'gender_pref_female', 'Female' %>
      </p>
      <p>
        <%= f.radio_button :gender_pref, 'both'%>
        <%= f.label 'gender_pref_both', 'Both' %>
      </p>

      <h3>of Elo:</h3>
      <p>
        <%= f.check_box :unranked_filter %>
        <%= f.label 'unranked_filter', 'Unranked' %>
      </p>
      <p>
        <%= f.check_box :iron_filter %>
        <%= f.label 'iron_filter', 'Iron' %>
      </p>
      <p>
        <%= f.check_box :bronze_filter %>
        <%= f.label 'bronze_filter', 'Bronze' %>
      </p>
      <p>
        <%= f.check_box :silver_filter %>
        <%= f.label 'silver_filter', 'Silver' %>
      </p>
      <p>
        <%= f.check_box :gold_filter %>
        <%= f.label 'gold_filter', 'Gold' %>
      </p>
      <p>
        <%= f.check_box :platinum_filter %>
        <%= f.label 'platinum_filter', 'Platinum' %>
      </p>
      <p>
        <%= f.check_box :diamond_filter %>
        <%= f.label 'diamond_filter', 'Diamond' %>
      </p>
      <p>
        <%= f.check_box :master_filter %>
        <%= f.label 'master_filter', 'Master' %>
      </p>
      <p>
        <%= f.check_box :grandmaster_filter %>
        <%= f.label 'grandmaster_filter', 'Grandmaster' %>
      </p>
      <p>
        <%= f.check_box :challenger_filter %>
        <%= f.label 'challenger_filter', 'Challenger' %>
      </p>

      <%= f.submit 'Save', class: 'btn' %>

    </div>

  <% end %>

  <hr>

  <h2>Account Settings</h2>

  <p>
    Email: <%= current_user.email %>
  </p>
  <p>
    <%= link_to "Change email/password", edit_user_registration_path %>
  </p>
  <p>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </p>

</div>
