<div id="matches-page">
  <h2>Your DuoQ Matches</h2>

  <% unless @matches.size > 0 %>
    <div class="page-filler">
      <p>
        You don't have any matches yet.
      </p>
    </div>
  <% end %>

  <% @matches.each do |match| %>
    <%= link_to "matches/#{match.id}", class: 'match-link' do %>
      <div>
        <%= image_tag match.photo %>
      </div>
      <div>
        <p class="name">
          <strong>
            <%= match.name %>
          </strong>
        </p>
        <p>
          <em>
            <%= match.elo %>
          </em>
        </p>
        <p>
          <em>
            <%= match.region %>
          </em>
        </p>
        <% if match.lol_main %>
          <p>
            <em>
              <%= match.lol_main %> main
            </em>
          </p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
