<div id="match-page">
  <h2 class="name">
    <%= @match.name %>
  </h2>
  <%= render partial: 'users/user', locals: {user: @match} %>

  <div>
    <%= form_with url: unmatch_path, local: true do |f| %>
      <%= f.hidden_field :id, value: @match.id %>
      <%=
        f.submit 'Unmatch',
        class: 'btn',
        data: { confirm: 'Are you sure?' }
      %>
    <% end %>
  </div>
</div>
