/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

html {
  background-color: #294b70;
  display: flex;
}

body {
  position: relative;
  background-color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 100%;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
  border-radius: 0;
}

#main-logo {
  text-decoration: none;
  padding: 4px 10px 10px 10px;
  border-radius: 5px;
  margin: 10px;
}

h1 {
  font-size: 0;
}

h1 img {
  width: 200px;
  position: relative;
  top: 6px;
}

h2 {
  margin: 0.5em 0;
  max-width: 100%;
  font-size: 1.5em;
  color: #2f5884;
}

#facebook-login {
  margin: 25px 0 45px 0;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  padding: 3px 3px 0 3px;
  border-radius: 5px;
  background-color: #3F51B5;
}

#facebook-login:hover {
  background-color: #4255bd;
}

#facebook-login:active {
  background-color: #3c4caa;
}

#facebook-login span {
  font-size: 1.2em;
  display: inline-block;
  position: relative;
  bottom: 1.1em;
  padding-right: 10px;
}

#CTA {
  background-color: #2f5884;
  padding-bottom: 1.5em;
  margin: 1.5em 0;
  margin-bottom: 0;
  width: 100%;
  position: relative;
}

#CTA p {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  padding: 0.5em;
}

#sample-box {
  display: flex;
}

.user-sample {
  flex: 1;
  max-width: 20%;
  display: inline-block;
  position: relative;
}

.sample-photo {
  max-width: 100%;
}

.sample-badge {
  max-width: 25%;
  position: absolute;
  bottom: 5%;
  left: 0;
}

.faded {
  opacity: 0.9;
}

.notice, .alert {
  position: absolute;
  z-index: 2;
  width: 100%;
  max-width: 640px;
  padding: 2px;
  background-color: #940530;
  color: #fff;
  opacity: 0.7;
}

.notice:hover, .alert:hover {
  background-color: #ac0638;
  cursor: pointer;
  opacity: 0.9;
}

hr {
  margin: 1em 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #C3073F;
  transition: all 0.5s;
  opacity: 0.95;
}

a:hover {
  text-decoration: underline;
  opacity: 1;
}

a:active {
  background-color: #eee;
}

input {
  transition: background-color 0.5s;
}

input:focus {
  outline: none;
}

.flex-container {
  display: flex;
}

.flex-container div {
  flex: 1;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex:3 !important;
}

#hub-page {
  margin-top: 30px;
}

#my-profile a {
  width: 50%;
  padding: 0.5em;
  border-radius: 1em;
}

#my-profile #my-name {
  width: auto;
  max-width: 90%;
}

#my-profile a img {
}

.hub-picture {
  max-width: 100%;
}

.rounded {
  border-radius: 50%;
}

#topbar {
  background-color: #2f5884;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 0;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
  padding: 7px 5px;
}

.display-picture {
  position: relative;
  float: left;
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 270px);
  max-width: 100%;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#elo-badge {
  position: absolute;
  z-index: 1;
  height: 25%;
  bottom: 0;
  left: 0;
}

#topbar a {
  flex-basis: 50px;
  height: 50px;
  border-radius: 10px;
}

#topbar a:hover {
}

#topbar a:active {
  background-color: transparent;
  filter: brightness(50%);
}

#topbar img {
  width: 50px;
}

#topbar .active {
  /* border-color: #C3073F; */
}

#controls {
  float: left;
  width: 100%;
  padding: 3px;
}

.like-btn {
  flex: 1;
}

.like-btn input {
  border-radius: 50%;
  width: 70px;
  padding: 5px;
  opacity: 0.95;
}

.like-btn input:hover {
  opacity: 1;
}

.like-btn input:active {
  background-color: #eee;
}

.hub-box {
  margin: 1em 0;
}

.hub-box img {
  margin: 0.2em 0;
  width: 100%;
}

.hub-box a {
  width: 100px;
  padding: 5px;
  color: #2f5884;
  border-radius: 10%;
  display: inline-block;
}

#candidate-info {
  width: 100%;
  float:left;
}

#candidate-info p {
  /* text-align: left; */
}

#candidate-bio {
  word-break: break-all;
  line-height: 1.2em;
  font-size: 0.9em;
  background-color: #2f5884;
  color: #fff;
  padding: 5px 8px;
  height: 125px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#candidate-bio p {
}

#candidate-data {
  font-size: 4vw;
  color: #2f5884;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 425px) {
  #candidate-data{
    font-size: 1em;
  }
}

#settings-page {
  padding: 5px 10%;
}

#settings-page .btn {
  margin: 0.4em 0;
}

#filter-settings {
  width: 140px;
  max-width: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
}

#filter-settings p {
  text-align: left;
  margin: 0.1em 0;
}

#settings-page h2 {
  padding: 0;
  margin: 0.5em 0;
  font-size: 1.5rem;
}

#sync-settings * {
  text-align: left;
}

#sync-settings {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}

#gender-page input {
  width: 50%;
  font-size: 2em;
  margin-bottom: 1em;
}

.btn {
  padding: 8px 12px !important;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #efbc2f;
  color: #2f5884;
  display: inline-block;
  font-size: 1em;
  /* transition: background-color 0.5s; */
  transition: all 0.5s;
}

.btn:hover {
  text-decoration: none;
}

.btn:active {
  background-color: #efbc2f;
  filter: brightness(75%);
}

.large {

}

#profile-edit-page {
  margin-top: 1em;
  padding-bottom: 0.5em;
}

#profile-edit-page label {
  display: inline-block;
  padding-bottom: 0.4em;
  color: #2f5884;
  font-weight: 700;
  font-size: 1.3em;
}

#edit-picture {
  width: 80%;
  border: 4px solid #2f5884;
  margin: 0.5em 0;
}

#bio-label {
  margin-top: 0.1em;
  padding-bottom: 0.2em !important;
}

#bio-area {
  margin-bottom: 0.5em;
}

#bio-area textarea {
  text-align: left;
  border-radius: 10px;
  padding: 10px 15px;
  width: 300px;
  height: 130px;
  resize: none;
}

#bio-input {
}

#char-num {
  font-size: 0.9em;
}

#sync-page {
  font-size: 1.5rem;
  margin-top: 1em;
}

#sync-page input {
  padding: 5px;
  width: 90%;
  font-size: 1.5rem;
  margin: 15px 0;
}

#sync-page select {
  font-size: 1.5rem;
  margin: 15px 0;
}

#lol-code {
  font-size: 3rem;
  color: #2f5884;
  font-weight: 700;
}

#sync-info {
  margin-top: 0.8em;
  padding: 0.5em 0;
  color: #fff;
  background-color: #2f5884;
}

#sync-question-box {
  position: relative;
}

#sync-tut-button {
  opacity: 0.8;
  position: relative;
  bottom: 1px;
  cursor: pointer;
}

#sync-tut-button:hover {
  opacity: 0.9;
}

.hover-div {
  transition: all 1s;
  display: none;
  position: absolute;
  bottom: 100%;
  left: calc(50% - 85px);
  margin: 0 auto;
  font-size: 1rem;
  padding: 0.5em;
  background-color: #000;
  color: #fff;
  opacity: 0.9;
}

.modal-bg {
  display: none;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.modal-body {
  max-height: 100%;
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2f5884;
  color: #fff;
  max-width: 90%;
  margin: 0 auto;
  padding: 1em;
  widows: 2;
  overflow: auto;
}

.modal-body img {
  max-width: 100%;
  margin-top: 1em;
}

.modal-body ol {
  margin: 0 auto;
  width: 460px;
  max-width: 100%;
  list-style: none;
  counter-reset: item;
  list-style-position: inside;
}

.modal-body li {
  max-width: 100%;
  text-align: left;
  counter-increment: item;
  padding: 0.1em;
}

.modal-body li:before {
  color: #efbc2f;
  margin-right: 0.3em;
  font-weight: 700;
  content: counter(item);
}

#sync-info p {
  margin: 0.5em 0;
}

#matches-page {
}

.match-link {
  text-align: left;
  display: flex;
  align-items: center;
  color: #000;
  border-bottom: 1px solid #d7ba6c;
  padding: 0.5em 0;
  width: 360px;
  max-width: 90%;
  margin: 0 auto;
  transition: background-color 0.3s;
}

.match-link:last-child {
  border-bottom: transparent;
  margin-bottom: 1em;
}

.match-link:hover {
  background-color: #ecf2f8;
  text-decoration: none;
}

.match-link:active {
  background-color: #eee;
}

.match-link img {
  float: left;
  width: 90px;
  margin: 0 0.4em;
  border-radius: 10px;
  display: inline-block;
}

.match-link div {
  display: inline-block;
  float: left;
  margin: 0.4em 0;
  height: 90px;
}

.match-link p {
  text-align: left;
}

.name {
  max-width: 100%;
  word-break: break-all;
}

#match-page {
}

#match-page h2 {
  margin: 0.1em;
}

#match-page .btn {
  margin-top: 0.3em;
}

#my-profile-page h2 {
  /* margin: 0.2em 0; */
}

.margin-v1 {
  margin: 1em 0;
}

.padding-1 {
  padding: 1rem;
}

.text-justify {
  text-align: justify;
}

.width-100 {
  width: 100% !important;
}

.float-l {
  float: left;
}

.p-relative {
  position: relative;
}

.small-text {
  font-size: 0.9em;
}

.inline-block {
  display: inline-block;
}

.wrap {
  word-wrap: break-word;
}

.page-filler {
  padding: 40% 0;
}


#new-matches {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  background-color: #C3073F;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  padding: 0.1em 0.4em;
  top: 1em;
}

/* AMAZON */
aside#ad-right {
  position: absolute;
  left: 100%;
  top: 25vh;
}
/* AMAZON */
aside#ad-left {
  position: absolute;
  right: 100%;
  top: 25vh;
}

@media(max-width: 900px) {
  aside {
    display: none;
  }
}
/* END */

@media(min-height: 800px) {
  body {
    min-height: 0;
    border-radius: 0 0 20px 20px;
  }

  #topbar {
    margin-bottom: 10px;
  }

  .display-picture {
    height: auto;
  }

  #candidate-data {
    font-size: 1em;
    padding: 1em 0;
  }

  #candidate-bio {
    font-size: 1em;
    padding: 10px 15px;
    height: auto;
    line-height: normal;
  }

  #my-profile-page #candidate-bio {
    border-radius: 0 0 16px 0;
  }

  .like-btn input {
    width: 90px;
  }

  #controls {
    padding: 10px;
  }

  #sync-page {
    padding-bottom: 1em;
  }

  #CTA p {
    font-size: 3em;
    padding: 0.8em;
  }

  #match-page .btn {
    margin: 0.3em;
  }
}
