<div class="modal-bg">
  <div class="modal-body">
    <p>Log in to your LoL account, and then:</p>
    <ol>
      <li>Open the settings menu</li>
      <li>Navigate to the 'VERIFICATION' section</li>
      <li>Type your personal verification code</li>
      <li>Click 'SAVE'</li>
      <li>Come back to this page and type your LoL Nickname in</li>
      <li>Click the 'Sync' button</li>
    </ol>
    <%= image_tag 'print.jpg' %>
  </div>
</div>


<div id="sync-page">
  <% unless current_user.lol_name %>
    <%= form_with url: sync_path, local: true do |f| %>
      <p>
        <%=
        f.text_field :lol_name,
        placeholder: 'Your LoL Nickname',
        autofocus: 'on',
        autocomplete: 'off'
        %>
      </p>

      <p>
        Server: <%= select_tag(:lol_region, options_for_select(@regions, ['BR1', 'Brazil'])) %>
      </p>

      <p>
        Your code:
      </p>
      <p>
        <span id="lol-code"><%= current_user.lol_verification_key %></span>
      </p>
      <div id="sync-question-box">
        <%= image_tag 'question.png', width: 30, id: 'sync-tut-button' %>
        <div class="hover-div">
          Click for a sync guide
        </div>
      </div>

      <%= f.submit 'Sync', class: 'btn' %>
    <% end %>
  <% else %>
    <%=
      link_to "Desync '#{current_user.lol_name}'",
      sync_path,
      method: :delete,
      data: { confirm: 'Are you sure?' },
      class: 'btn name' %>

      <hr>

      <p>
        <%= link_to "Refresh Sync", refresh_sync_path %>
      </p>

      <div id="sync-info">
        <p class="name">
          <strong>LoL Nickname:</strong><br>
          <%= current_user.name %>
        </p>

        <p>
          <strong>Elo:</strong><br>
          <%= current_user.elo %>
        </p>

        <p>
          <strong>Main champion:</strong><br>
          <%= current_user.lol_main %>
        </p>

        <p>
          <strong>Server:</strong><br>
          <%= current_user.region %>
        </p>
      </div>
  <% end %>

</div>
