<div id="topbar" data-url="<%= notifications_url %>">
  <% if current_page?(user_hub_path) ||
        current_page?(settings_path) ||
        current_page?(sync_path) ||
        current_page?(profile_path) %>
    <%= link_to user_hub_path, class: 'active' do %>
      <%= image_tag 'icons/userhub_active.png' %>
    <% end %>
  <% else %>
    <%= link_to user_hub_path do %>
      <%= image_tag 'icons/userhub.png' %>
    <% end %>
  <% end %>

  <% if current_page?(root_path) %>
    <%= link_to root_path, class: 'active' do %>
      <%= image_tag 'icons/main_active.png' %>
    <% end %>
  <% else %>
    <%= link_to root_path do %>
      <%= image_tag 'icons/main.png' %>
    <% end %>
  <% end %>

  <% if current_page?(matches_path) %>
    <%= link_to matches_path, class: 'active' do %>
      <%= image_tag 'icons/matches_active.png' %>
      <div id="new-matches-box">
        <% unless current_user.new_matches < 1 %>
          <%= render partial: 'layouts/new_matches' %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= link_to matches_path do %>
      <%= image_tag 'icons/matches.png' %>
      <div id="new-matches-box">
        <% unless current_user.new_matches < 1 %>
          <%= render partial: 'layouts/new_matches' %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if false %>
    <%= link_to "Profile", profile_path %> |
    <%= link_to "Sync", sync_path %> |
    <%= link_to "Settings", settings_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %> |
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>
