<!DOCTYPE html>
<html>
  <head>
    <title>
      DuoQ
      <% if user_signed_in? %>
        <% if current_user.new_matches > 0 %>
          (<%= current_user.new_matches %>)
        <% end %>
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="jltp4fymjuWXmJHr3rk_9iXLEvLPyKz131w6r8U697U" />
    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <%= render partial: "layouts/topbar" %>
    <% else %>
      <%= link_to root_path, id: 'main-logo' do %>
        <h1>DuoQ<%= image_tag 'logo.png' %></h1>
      <% end %>
    <% end %>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
    
  </body>
</html>
